.header-c {
  color: #ff073a;
  /* border: 2px solid #ff073a;
  border-radius: 10px; */
  /* background-color: rgba(255, 7, 58, 0.1254); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 13px;
  font-family: "Archivo";
  font-size: 12px !important;
  font-weight: 600;
  letter-spacing: 2px;
  
  /* transition: 0.5s; */
}
.header-c:hover{
  background: #4D1229;
  cursor:pointer
}

 #selectedConf{
  background: #4D1229;
}

.summary {
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  transition: all 0.1s ease-in-out;
  animation: type 1s;
}
@keyframes type {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.confirmed {
  color: #ff073a;
  font-size: 22px;
  font-weight: 700;
}
.header-a  {
  color: #007bff;
  /* background-color: rgba(0, 123, 255, 0.0627451); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 13px;
  font-family: "Archivo";
  font-size: 12px !important;
  /* margin-top: 2%; */
  font-weight: 600;
  letter-spacing: 2px;
}
.header-a:hover{
  background: #132240;
  cursor: pointer;
}
 #selectedActiv{
  background: #132240;
}
.active {
  color: #007bff;
  font-size: 22px;
  font-weight: 700;
}
.header-r {
  color: #28a745;
  /* background-color: rgba(40, 167, 69, 0.12549); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 13px;
  font-family: "Archivo";
  font-size: 12px !important;
  font-weight: 600;
  letter-spacing: 2px;
}
.header-r:hover{
  background: #1A382D;
  cursor: pointer;
}
 #selectedReco{
   background: #1A382D;
 }
.recovered {
  color: #28a745;
  font-size: 22px;
  font-weight: 700;
}
.header-d {
  color: #6c757d;
  /* background-color: rgba(108, 117, 125, 0.0627451); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 13px;
  font-family: "Archivo";
  font-size: 12px !important;
  font-weight: 600;
  letter-spacing: 2px;
}
.header-d:hover{
  background:#262735;
  cursor: pointer;
}
#selectedDea{
  background:#262735;
}
.deaths {
  color: #6c757d;
  font-size: 22px;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .summary {
    justify-content: space-around;
  }
}
